Title: Adding, Removing & Changing Columns
Slug: pandas/adding-removing-and-changing-columns
Category: Pandas
Tags: DataFrame, dropna, 
Date: 2018-10-16
Modified: 2018-10-16

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Create data

In [2]:
index = ['Norman', 'Phyllis', 'Esteban', 'Maureen', 'Chiquitita']
data = {
    'Favourite Colour': ['Purple', 'Blue', 'Red', 'Mauve', 'Orange']
}

df = pd.DataFrame(data=data, index=index)
df

           Favourite Colour
Norman               Purple
Phyllis                Blue
Esteban                 Red
Maureen               Mauve
Chiquitita           Orange

#### Adding new columns

In [3]:
# Different column per row
df['City'] = ['London', 'Vancouver', 'Buenos Aires', 'Cape Town', 'Beijing']
# The same value for all columns
df['Favourite Number'] = 1
df

           Favourite Colour          City  Favourite Number
Norman               Purple        London                 1
Phyllis                Blue     Vancouver                 1
Esteban                 Red  Buenos Aires                 1
Maureen               Mauve     Cape Town                 1
Chiquitita           Orange       Beijing                 1

#### Reordering columns

In [4]:
df = df[['Favourite Number', 'City', 'Favourite Colour']]
df

            Favourite Number          City Favourite Colour
Norman                     1        London           Purple
Phyllis                    1     Vancouver             Blue
Esteban                    1  Buenos Aires              Red
Maureen                    1     Cape Town            Mauve
Chiquitita                 1       Beijing           Orange

#### Changing a column

In [5]:
df['Favourite Number'] = np.random.randint(0, 100, 5)
df

            Favourite Number          City Favourite Colour
Norman                    78        London           Purple
Phyllis                   51     Vancouver             Blue
Esteban                   10  Buenos Aires              Red
Maureen                   75     Cape Town            Mauve
Chiquitita                75       Beijing           Orange

#### Removing columns

In [6]:
df.drop('Favourite Number', axis=1, inplace=True)
df

                    City Favourite Colour
Norman            London           Purple
Phyllis        Vancouver             Blue
Esteban     Buenos Aires              Red
Maureen        Cape Town            Mauve
Chiquitita       Beijing           Orange