Title: Apply a Function to a DataFrame
Slug: pandas/apply-a-function-to-a-dataframe
Category: Pandas
Tags: DataFrame, apply 
Date: 2018-10-16
Modified: 2018-10-16

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Create data

In [2]:
df = pd.DataFrame({'First': np.random.randint(1, 6, 5), 'Second': np.random.randint(4, 10, 5)})
df

   First  Second
0      2       8
1      2       8
2      5       8
3      1       9
4      2       4

### Apply a function across each row

In [3]:
df['Added'] = df.apply(lambda row: row['First'] + row['Second'], axis=1)
df

   First  Second  Added
0      2       8     10
1      2       8     10
2      5       8     13
3      1       9     10
4      2       4      6

### Apply based on one column

In [4]:
df['Squared'] = df['Added'].apply(np.square)
df

   First  Second  Added  Squared
0      2       8     10      100
1      2       8     10      100
2      5       8     13      169
3      1       9     10      100
4      2       4      6       36