Title: Calculating a Rolling Value
Slug: pandas/calculating-a-rolling-value
Category: Pandas
Tags: date_range, random, randint, DataFrame, head, rolling, mean, max, head, resample
Date: 2017-09-25
Modified: 2017-09-25

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Create DataFrame

In [2]:
dates = pd.date_range('2017-01-01', '2017-06-30')
data = {'value': np.random.randint(0, 100, len(dates))}

df = pd.DataFrame(data=data, index=dates)
df.head()

            value
2017-01-01     71
2017-01-02     58
2017-01-03     68
2017-01-04     83
2017-01-05     59

#### Create the `Rolling` object
When calling `rolling`, we need to say how many periods we're working over. Our data was measured daily, so passing the argument `3` means we calculate rolling values over three days.

In [3]:
df_roll = df.rolling(3)
df_roll

Rolling [window=3,center=False,axis=0]

In [4]:
df_roll.mean().head()

                value
2017-01-01        NaN
2017-01-02        NaN
2017-01-03  65.666667
2017-01-04  69.666667
2017-01-05  70.000000

In [5]:
df_roll.max().head()

            value
2017-01-01    NaN
2017-01-02    NaN
2017-01-03   71.0
2017-01-04   83.0
2017-01-05   83.0

#### Combining with `resample`
If you want to resample your data first, the [Pandas docs](https://pandas.pydata.org/pandas-docs/stable/computation.html#window-functions) recommend the pattern below. Firstly we call `resample('M').mean()` and get a monthly mean, then create a rolling object, then chain `mean()` once again to get the rolling average.

In [6]:
df.resample('M').mean().rolling(3).mean()

                value
2017-01-31        NaN
2017-02-28        NaN
2017-03-31  50.643241
2017-04-30  49.044675
2017-05-31  48.551971
2017-06-30  49.598566