# Aggregates

In [1]:
import pandas as pd

In [28]:
data = {'name': ['Theresa', 'David', 'Gordon', 'Tony', 'John'],
        'colour': ['Blue', 'Blue', 'Red', 'Red', 'Blue'],
        'score1': [1, 5, 5, 3, 5],
        'score2': [None, 3, 7, 5, 7],
        'score3': [None, 5, 6, None, 9]}

df = pd.DataFrame(data)

In [29]:
df

  colour     name  score1  score2  score3
0   Blue  Theresa       1     NaN     NaN
1   Blue    David       5     3.0     5.0
2    Red   Gordon       5     7.0     6.0
3    Red     Tony       3     5.0     NaN
4   Blue     John       5     7.0     9.0

In [30]:
df.max()

colour     Red
name      Tony
score1       5
score2       7
score3       9
dtype: object

In [31]:
df.min()

colour     Blue
name      David
score1        1
score2        3
score3        5
dtype: object

In [32]:
df.sum()

colour            BlueBlueRedRedBlue
name      TheresaDavidGordonTonyJohn
score1                            19
score2                            22
score3                            20
dtype: object

In [33]:
df.count()

colour    5
name      5
score1    5
score2    4
score3    3
dtype: int64

In [34]:
df.mean()

score1    3.800000
score2    5.500000
score3    6.666667
dtype: float64

In [35]:
df.median()

score1    5.0
score2    6.0
score3    6.0
dtype: float64