Title: Grouping Data
Slug: pandas/grouping-data
Category: Pandas
Tags: head, describe, groupby, mean, nunique
Date: 2017-09-24
Modified: 2017-09-24

#### Import libraries

In [1]:
import pandas as pd
from bokeh.sampledata.iris import flowers

#### Inspect data

In [2]:
flowers.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
flowers.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Grouping data
We use the `groupby()` method with a column name to, you guessed it, group our data. This returns a `DataFrameGroupBy` object.

In [4]:
flowers.groupby('species')

To use this object, we need to chain another method afterwards. This usually an aggregate of some kind.

In [5]:
flowers.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [6]:
# Find the number of unique values in the dataset
flowers.groupby('species').nunique()

            sepal_length  sepal_width  petal_length  petal_width  species
species
setosa                15           16             9            6        1
versicolor            21           14            19            9        1
virginica             21           13            20           12        1