Title: Iterating Over a DataFrame
Slug: pandas/iterating-over-a-dataframe
Category: Pandas
Tags: DataFrame, iterrows, iteritems
Date: 2018-10-16
Modified: 2018-10-16

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Create data

In [2]:
df = pd.DataFrame({
    'First': np.random.randint(1, 6, 5), 
    'Second': np.random.randint(4, 10, 5),
    'Third': np.random.randint(10, 20, 5)
})
df

   First  Second  Third
0      1       9     14
1      2       6     18
2      4       9     12
3      2       6     12
4      5       9     12

### Iterate over rows

In [3]:
for index, row in df.iterrows(): # The index and row are returned as a tuple 
    print('Index: {}'.format(index)) 
    print('Row Values: {}'.format(row.values), end='\n\n')

Index: 0
Row Values: [ 1  9 14]

Index: 1
Row Values: [ 2  6 18]

Index: 2
Row Values: [ 4  9 12]

Index: 3
Row Values: [ 2  6 12]

Index: 4
Row Values: [ 5  9 12]

### Iterate over columns

In [4]:
for name, col in df.iteritems(): # As above, these are returned as a tuple
    print('Name: {}'.format(name))
    print('Column Values: {}'.format(col.values), end='\n\n')

Name: First
Column Values: [1 2 4 2 5]

Name: Second
Column Values: [9 6 9 6 9]

Name: Third
Column Values: [14 18 12 12 12]