Title: Pivot Tables
Slug: pandas/pivot-tables
Category: Pandas
Tags: head, pivot_table
Date: 2017-09-25
Modified: 2017-09-25

#### Import libraries

In [1]:
import pandas as pd
from bokeh.sampledata.iris import flowers

#### Inspect data

In [2]:
flowers.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Create pivot table

In [3]:
# By default, the mean of your values is calculated
flowers.pivot_table(
    values=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
    index='species'
)

            petal_length  petal_width  sepal_length  sepal_width
species
setosa             1.462        0.246         5.006        3.428
versicolor         4.260        1.326         5.936        2.770
virginica          5.552        2.026         6.588        2.974

In [4]:
# Other aggregates can be specified, such as min, mix, count, mean and std
flowers.pivot_table(
    values=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
    index='species',
    aggfunc='std'
)

            petal_length  petal_width  sepal_length  sepal_width
species
setosa          0.173664     0.105386      0.352490     0.379064
versicolor      0.469911     0.197753      0.516171     0.313798
virginica       0.551895     0.274650      0.635880     0.322497

In [5]:
# We can add margins=True to apply our chosen aggfunc to the pivot table
flowers.pivot_table(
    values=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'],
    index='species',
    aggfunc='max',
    margins=True
)

            petal_length  petal_width  sepal_length  sepal_width
species
setosa               1.9          0.6           5.8          4.4
versicolor           5.1          1.8           7.0          3.4
virginica            6.9          2.5           7.9          3.8
All                  6.9          2.5           7.9          4.4