Title: Selecting Rows and Cells
Slug: pandas/selecting-rows-and-cells
Category: Pandas
Tags: DataFrame, loc, iloc
Date: 2017-08-05
Modified: 2017-09-24

### Import libraries

In [1]:
import pandas as pd

### Create DataFrame

In [2]:
index = ['Theresa', 'David', 'Gordon', 'Tony', 'John']
data = {
    'colour': ['Blue', 'Blue', 'Red', 'Red', 'Blue'],
    'score1': [1, 5, 5, 3, 5],
    'score2': [None, 3, 7, 5, 7],
    'score3': [None, 5, 6, 9, None]
}

df = pd.DataFrame(data=data, index=index)
df

        colour  score1  score2  score3
Theresa   Blue       1     NaN     NaN
David     Blue       5     3.0     5.0
Gordon     Red       5     7.0     6.0
Tony       Red       3     5.0     9.0
John      Blue       5     7.0     NaN

### Select columns
We can provide a single column name, a list, or a slice.

In [3]:
df[['colour', 'score1']]

        colour  score1
Theresa   Blue       1
David     Blue       5
Gordon     Red       5
Tony       Red       3
John      Blue       5

### Select rows and cells by label

In [4]:
df.loc['Theresa']

colour    Blue
score1       1
score2     NaN
score3     NaN
Name: Theresa, dtype: object

In [5]:
# Slices can be used to select a range of rows
df.loc['David':'Tony']

       colour  score1  score2  score3
David    Blue       5     3.0     5.0
Gordon    Red       5     7.0     6.0
Tony      Red       3     5.0     9.0

In [6]:
# We can filter columns with a second argument
df.loc['David':'Tony', 'score1']

David     5
Gordon    5
Tony      3
Name: score1, dtype: int64

In [7]:
# Lists can also be used for this
df.loc[['David', 'John'], ['colour', 'score3']]

      colour  score3
David   Blue     5.0
John    Blue     NaN

In [8]:
# Single cells can be selected
df.loc['Theresa', 'colour']

'Blue'

### Select by position
We can use `iloc` to look up data based on integers. For example, here we repeat the two selections directly above.

In [9]:
df.iloc[[1, 4], [0, 3]]

      colour  score3
David   Blue     5.0
John    Blue     NaN

In [10]:
df.iloc[0, 0]

'Blue'