Title: Sorting Data
Slug: pandas/sorting-data
Category: Pandas
Tags: DataFrame, head, sort_values, set_index, sort_index
Date: 2017-09-25
Modified: 2017-09-25

#### Import libraries

In [3]:
import numpy as np
import pandas as pd

#### Create DataFrame

In [11]:
data = {
    'name': ['Regina', 'Barbie', 'Gaz', 'Jiminy', 'Fran'],
    'number': np.random.randint(0, 100, 5)
}

df = pd.DataFrame(data)
df.head()

     name  number
0  Regina      40
1  Barbie      75
2     Gaz      84
3  Jiminy      68
4    Fran      23

#### Sorting our values

In [12]:
# Sorting in alphabetical order
df.sort_values('name')

     name  number
1  Barbie      75
4    Fran      23
2     Gaz      84
3  Jiminy      68
0  Regina      40

In [13]:
# Sorting numbers in reverse order
df.sort_values('number', ascending=False)

     name  number
2     Gaz      84
1  Barbie      75
3  Jiminy      68
0  Regina      40
4    Fran      23

#### Sorting our index

In [16]:
df.set_index('name').sort_index(ascending=False)

        number
name
Regina      40
Jiminy      68
Gaz         84
Fran        23
Barbie      75