Title: Working with Datetimes
Slug: pandas/working-with-datetimes
Category: Pandas
Tags: date_range, DataFrame, head, set_index, loc, resample, mean, min, count
Date: 2017-09-21
Modified: 2017-09-21

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Create DataFrame

In [2]:
dates = pd.date_range('2017-08-28', '2017-09-10')
rainfall = np.random.randint(60, 90, len(dates))

data = {'date': dates, 'rainfall': rainfall}

df = pd.DataFrame(data)
df.head()

        date  rainfall
0 2017-08-28        81
1 2017-08-29        73
2 2017-08-30        82
3 2017-08-31        70
4 2017-09-01        66

#### Selecting rows and cells
We use the `loc` function which takes a range of inputs. Here are a few examples.

In [3]:
# We set the date column as index to make things easier
df.set_index('date', inplace=True)

In [4]:
df.loc['2017-08-28']

rainfall    81
Name: 2017-08-28 00:00:00, dtype: int64

In [5]:
df.loc['2017-09-08':'2017-09-10']

            rainfall
date
2017-09-08        79
2017-09-09        75
2017-09-10        67

In [6]:
df.loc['August 2017']

            rainfall
date
2017-08-28        81
2017-08-29        73
2017-08-30        82
2017-08-31        70

#### Changing the observation period
Our (made up) date has been sampled daily, but we can investigate other intervals with `resample`. We then chain an aggregate method to return a DataFrame.

In [7]:
# Average by month
df.resample('M').mean()

            rainfall
date
2017-08-31      76.5
2017-09-30      74.4

In [8]:
# Lowest value by week
df.resample('W').min()

            rainfall
date
2017-09-03        66
2017-09-10        67

In [9]:
# Number of values by month
df.resample('M').count()

            rainfall
date
2017-08-31         4
2017-09-30        10