### Connect to the database

In [ ]:
# TODO
%load_ext sql
# %%sql postgresql://
# %config SqlMagic.feedback = False

### A simple example

In [ ]:
%%sql

SELECT
    *
FROM
    table1
WHERE
    -- Note that equality tests use just one equals sign
    city = 'London'

### Filter on multiple conditions with AND

In [ ]:
%%sql

SELECT
    *
FROM
    table1
WHERE
    city = 'London'
    AND age > 50

### The OR operator

In [ ]:
%%sql

SELECT
    *
FROM
    table1
WHERE
    city = 'London'
    OR name = 'Clive'

### Combining operators
This query will return all details of people matching ONE of the following conditions:
- They live in London
- They are named Clive and don't live in Berlin

In [ ]:
%%sql

SELECT
    *
FROM
    table1
WHERE
    city = 'London'
    OR (
        name = 'Clive'
        -- <> means not equal to, != can also be used here
        AND city <> 'Berlin'
    )