Title: Changing Data Types
Slug: sql/changing-data-types
Category: SQL
Tags: SELECT, CAST, FROM, LIMIT, ::, float, int, date, time
Date: 2017-08-27
Modified: 2017-08-27

### Load ipython-sql extension

In [1]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

### Connect to the database

In [2]:
%%sql

postgresql://localhost/dvdrental

'Connected: None@dvdrental'

### Two ways to cast
Data types can be changed with the `CAST` function, but the `::` shorthand can also be used. Here are a few examples.

In [4]:
%%sql

SELECT
    p.payment_id
    , CAST(p.payment_id AS float) AS payment_id_casted
    , p.amount
    , p.amount::int as amount_casted
    , p.payment_date
    , CAST(p.payment_date AS date) as payment_date_casted
    , p.payment_date::time as payment_time_casted
FROM
    payment p
LIMIT
    5

[(17503, 17503.0, Decimal('7.99'), 8, datetime.datetime(2007, 2, 15, 22, 25, 46, 996577), datetime.date(2007, 2, 15), datetime.time(22, 25, 46, 996577)),
 (17504, 17504.0, Decimal('1.99'), 2, datetime.datetime(2007, 2, 16, 17, 23, 14, 996577), datetime.date(2007, 2, 16), datetime.time(17, 23, 14, 996577)),
 (17505, 17505.0, Decimal('7.99'), 8, datetime.datetime(2007, 2, 16, 22, 41, 45, 996577), datetime.date(2007, 2, 16), datetime.time(22, 41, 45, 996577)),
 (17506, 17506.0, Decimal('2.99'), 3, datetime.datetime(2007, 2, 19, 19, 39, 56, 996577), datetime.date(2007, 2, 19), datetime.time(19, 39, 56, 996577)),
 (17507, 17507.0, Decimal('7.99'), 8, datetime.datetime(2007, 2, 20, 17, 31, 48, 996577), datetime.date(2007, 2, 20), datetime.time(17, 31, 48, 996577))]