### Load ipython-sql extension

In [1]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

### Connect to the database

In [2]:
%%sql

postgresql://localhost/dvdrental

'Connected: None@dvdrental'

### Sample from `film` table

In [3]:
%%sql

SELECT
    f.film_id
    , f.title
    , f.rental_rate
    , f.length
FROM
    film f
LIMIT
    5

[(133, 'Chamber Italian', Decimal('4.99'), 117),
 (384, 'Grosse Wonderful', Decimal('4.99'), 49),
 (8, 'Airport Pollock', Decimal('4.99'), 54),
 (98, 'Bright Encounters', Decimal('4.99'), 73),
 (1, 'Academy Dinosaur', Decimal('0.99'), 86)]

### Using aggregates

In [6]:
%%sql

SELECT
    f.film_id
    , f.title
    , CASE
        WHEN f.length > 160 THEN 'Way too long'
        WHEN f.length > 120 THEN 'Getting a bit bored now'
        WHEN f.length > 80 THEN 'Goldilocks zone'
        ELSE 'Bit of a rip-off'
        END
FROM
    film f
LIMIT
    10

[(133, 'Chamber Italian', 'Goldilocks zone'),
 (384, 'Grosse Wonderful', 'Bit of a rip-off'),
 (8, 'Airport Pollock', 'Bit of a rip-off'),
 (98, 'Bright Encounters', 'Bit of a rip-off'),
 (1, 'Academy Dinosaur', 'Goldilocks zone'),
 (2, 'Ace Goldfinger', 'Bit of a rip-off'),
 (3, 'Adaptation Holes', 'Bit of a rip-off'),
 (4, 'Affair Prejudice', 'Goldilocks zone'),
 (5, 'African Egg', 'Getting a bit bored now'),
 (6, 'Agent Truman', 'Way too long')]