#### Load ipython-sql extension

In [1]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

#### Connect to the database

In [2]:
%%sql

postgresql://localhost/dvdrental

'Connected: None@dvdrental'

#### Sample from `film` table

In [3]:
%%sql

SELECT
    f.film_id
    , f.title
    , f.rental_rate
    , f.length
FROM
    film f
LIMIT
    5

[(133, 'Chamber Italian', Decimal('4.99'), 117),
 (384, 'Grosse Wonderful', Decimal('4.99'), 49),
 (8, 'Airport Pollock', Decimal('4.99'), 54),
 (98, 'Bright Encounters', Decimal('4.99'), 73),
 (1, 'Academy Dinosaur', Decimal('0.99'), 86)]

#### Using aggregates

In [4]:
%%sql

SELECT
    f.rental_rate
    , avg(f.length)
FROM
    film f
GROUP BY
    f.rental_rate

[(Decimal('4.99'), Decimal('115.8244047619047619')),
 (Decimal('0.99'), Decimal('112.9120234604105572')),
 (Decimal('2.99'), Decimal('117.1888544891640867'))]

#### Filtering on returned aggregates

In [6]:
%%sql

SELECT
    f.rental_rate
    , avg(f.length)
FROM
    film f
GROUP BY
    f.rental_rate
HAVING
    avg(f.length) > 117

[(Decimal('2.99'), Decimal('117.1888544891640867'))]