### Load ipython-sql extension

In [1]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

### Connect to the database

In [2]:
%%sql
postgresql://localhost/dvdrental

'Connected: None@dvdrental'

### Find values matching a list with IN

In [4]:
%%sql
SELECT
    *
FROM
    address
WHERE
    district IN ('Alberta', 'Jiangsu')

[(1, '47 MySakila Drive', None, 'Alberta', 300, '', '', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (3, '23 Workhaven Lane', None, 'Alberta', 300, '', '14033335568', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (201, '817 Bradford Loop', '', 'Jiangsu', 109, '89459', '264286442804', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (389, '500 Lincoln Parkway', '', 'Jiangsu', 210, '95509', '550306965159', datetime.datetime(2006, 2, 15, 9, 45, 30))]

### Find values not appearing in a list

In [5]:
%%sql
SELECT
    *
FROM
    address
WHERE
    district NOT IN ('Alberta', 'Jiangsu')
-- For convenience, we'll only show the first 5 results
LIMIT
    5

[(2, '28 MySQL Boulevard', None, 'QLD', 576, '', '', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (4, '1411 Lillydale Drive', None, 'QLD', 576, '', '6172235589', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (5, '1913 Hanoi Way', '', 'Nagasaki', 463, '35200', '28303384290', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (6, '1121 Loja Avenue', '', 'California', 449, '17886', '838635286649', datetime.datetime(2006, 2, 15, 9, 45, 30)),
 (7, '692 Joliet Street', '', 'Attika', 38, '83579', '448477190408', datetime.datetime(2006, 2, 15, 9, 45, 30))]