### Connect to the database

In [ ]:
# TODO
%load_ext sql
# %%sql postgresql://
# %config SqlMagic.feedback = False

### Find values within a range with BETWEEN
Note that this is an inclusive search: results matching the specified values are included

In [ ]:
SELECT
    *
FROM
    table1
WHERE
    age BETWEEN 21 AND 35

### Find values outside the same range

In [ ]:
SELECT
    *
FROM
    table1
WHERE
    age NOT BETWEEN 21 AND 35