#### Load ipython-sql extension

In [2]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

#### Connect to the database

In [3]:
%%sql

postgresql://localhost/dvdrental

'Connected: None@dvdrental'

#### Find values within a range with BETWEEN
Note that this is an inclusive search: results matching the specified values are included

In [4]:
%%sql

SELECT
    f.title
    , f.length
FROM
    film f
WHERE
    f.length BETWEEN 110 AND 120
-- For convenience, we'll only show the first 5 results
LIMIT
    5

[('Chamber Italian', 117),
 ('Affair Prejudice', 117),
 ('Alabama Devil', 114),
 ('Amadeus Holy', 113),
 ('Apocalypse Flamingos', 119)]

#### Find values outside the same range

In [5]:
%%sql

SELECT
    f.title
    , f.length
FROM
    film f
WHERE
    f.length NOT BETWEEN 110 AND 120
LIMIT
    5

[('Grosse Wonderful', 49),
 ('Airport Pollock', 54),
 ('Bright Encounters', 73),
 ('Academy Dinosaur', 86),
 ('Ace Goldfinger', 48)]