### Load ipython-sql extension

In [2]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

### Connect to the database

In [3]:
%%sql
postgresql://localhost/dvdrental

'Connected: None@dvdrental'

### Sort by a single column

In [5]:
%%sql

SELECT
    f.film_id
    , f.title
    , f.rental_rate
    , f.length
FROM
    film f
ORDER BY
    f.length DESC
LIMIT
    5

[(212, 'Darn Forrester', Decimal('4.99'), 185),
 (141, 'Chicago North', Decimal('4.99'), 185),
 (182, 'Control Anthem', Decimal('4.99'), 185),
 (426, 'Home Pity', Decimal('4.99'), 185),
 (349, 'Gangs Pride', Decimal('2.99'), 185)]

### Sort by multiple columns

In [6]:
%%sql
SELECT
    f.film_id
    , f.title
    , f.rental_rate
    , f.length
FROM
    film f
ORDER BY
    f.length DESC
    , f.rental_rate ASC
LIMIT
    5

[(609, 'Muscle Bright', Decimal('2.99'), 185),
 (690, 'Pond Seattle', Decimal('2.99'), 185),
 (349, 'Gangs Pride', Decimal('2.99'), 185),
 (991, 'Worst Banger', Decimal('2.99'), 185),
 (872, 'Sweet Brotherhood', Decimal('2.99'), 185)]