### Load ipython-sql extension

In [2]:
# The 2 lines below prevent an error message from being displayed when we run %load_ext sql
import warnings
warnings.filterwarnings('ignore')

%load_ext sql
%config SqlMagic.feedback = False

### Connect to the database

In [3]:
%%sql

postgresql://localhost/dvdrental

'Connected: None@dvdrental'

### Find matches to a single character
Use an underscore to find values that match a single character

In [4]:
%%sql

SELECT
    c.customer_id
    , c.first_name
    , c.last_name
FROM
    customer c
WHERE
    c.first_name LIKE 'Andre_'

[(81, 'Andrea', 'Henderson'), (333, 'Andrew', 'Purdy')]

Note that underscores can be combined to match a specific number of characters

In [5]:
%%sql

SELECT
    c.customer_id
    , c.first_name
    , c.last_name
FROM
    customer c
WHERE
    c.first_name LIKE 'Jam__'

[(146, 'Jamie', 'Rice'), (299, 'James', 'Gannon'), (531, 'Jamie', 'Waugh')]

### Find matches to a sequence of characters
A percent sign will match any number of characters

In [6]:
%%sql

SELECT
    c.customer_id
    , c.first_name
    , c.last_name
FROM
    customer c
WHERE
    c.first_name LIKE 'Charl%'

[(130, 'Charlotte', 'Hunter'),
 (220, 'Charlene', 'Alvarez'),
 (306, 'Charles', 'Kowalski'),
 (495, 'Charlie', 'Bess')]

Note that ```%``` will match zero-length sequences, as in the example below

In [7]:
%%sql

SELECT
    c.customer_id
    , c.first_name
    , c.last_name
FROM
    customer c
WHERE
    c.first_name LIKE '%Jonathan%'

[(353, 'Jonathan', 'Scarborough')]